* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.exp-title {
    padding: 20px 30px;
    margin-top: 0;
    border-bottom: 1px solid #2A76F0;
}
.exp-title-sub {
    padding-left: 40px;
}

.exp-container {
    width: 970px;
    margin: 0 auto;
}

.exp-col-half {
    width: 50%;
    padding: 0 15px;
}

@media (max-width: 970px) {
    .exp-container {
        width: 100%;
    }

    .exp-col-half {
        width: 100%;
        padding: 0 10px;
        margin: 0 15px;
    }
}
