html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "PingFang SC", STHeiti, "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a:link[target=_blank] {
  cursor: alias;
}

a,
a:visited {
  color: #2A76F0;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #268BD2;
  text-decoration: underline;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

.exp-title {
  padding: 20px 30px;
  margin-top: 0;
  border-bottom: 1px solid #2A76F0;
}

.exp-title-sub {
  font-size: 1.2em;
}

.exp-title-sub:before {
  content: "• ";
}

.exp-container {
  width: 970px;
  margin: 0 auto;
}

.exp-container:before,
.exp-container:after {
  display: table;
  content: '';
}

.exp-container:after {
  clear: both;
}

.exp-col-half {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.exp-col-half > div {
  margin: 1em 0;
}

@media (max-width: 970px) {
  .exp-title {
    padding: 10px;
  }
  .exp-container {
    width: 100%;
  }
  .exp-col-half {
    width: 100%;
    padding: 0 10px;
  }
  .exp-wrap {
    padding: 0 10px;
  }
}

.exp-stage {
  padding: 10px;
  margin: 1em 0;
  border: 1px solid #E1E1E8;
}

.exp-stage img {
  width: 100%;
}
